APP_ENV=development
HTTP_PORT=8080
GRPC_PORT=50051

DB_HOST=postgres
DB_PORT=5432
DB_NAME=db_loans
DB_USER=library
DB_PASSWORD=replace-me-with-strong-password
DB_SSLMODE=disable

DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME_MIN=30

CATALOG_URL=http://catalog:3000
CATALOG_TIMEOUT_MS=2000
CATALOG_TRANSPORT=http
CATALOG_GRPC_ADDR=catalog:50052

LOG_LEVEL=info
